In [1]:
import mysql.connector

In [ ]:
#CREATE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor=db.cursor()
cursor.execute("CREATE DATABASE wsaa")

In [ ]:
#CREATE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
cursor.execute("CREATE TABLE student(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(250), age INT)")

In [21]:
#INSERT
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "INSERT INTO student(name, age) VALUES (%s, %s)"
values = ("Mary",21)
cursor.execute(sql, values)
db.commit()

In [20]:
#SELECT
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "SELECT * FROM student WHERE id = %s"
values = (3,)
cursor.execute(sql, values)
result = cursor.fetchall()
print(result)

[(3, 'joe', 23)]

In [19]:
#UPDATE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "UPDATE student SET name=%s, age=%s where id=%s"
values = ("joe", 23, 3)
cursor.execute(sql, values)
db.commit()