## Start the server
````
C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysqld --initialize-insecure --user=mysql

C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysqld --console
````

Don't have to do this, but to connect to mysql, open a new command prompt and run: 
````
C:\Users\oconnora\mysql-9.2.0-winx64\bin
mysql -u root

````

In [1]:
import mysql.connector

In [4]:
#CREATE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor=db.cursor()
# cursor.execute("CREATE DATABASE wsaa")
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()
print(databases)

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('wsaa',)]

In [7]:
#CREATE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
# cursor.execute("CREATE TABLE student(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(250), age INT)")
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print(tables)

[('student',)]

In [15]:
#VIEW
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "SELECT * FROM student"
cursor.execute(sql)
student = cursor.fetchall()
print(student)

[]

In [9]:
#INSERT
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "INSERT INTO student(name, age) VALUES (%s, %s)"
values = ("Mary", 21)
cursor.execute(sql, values)
db.commit()

In [13]:
#SELECT
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "SELECT * FROM student WHERE id = %s"
values = (1,)
cursor.execute(sql, values)
result = cursor.fetchall()
print(result)

[(1, 'joe', 23)]

In [12]:
#UPDATE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "UPDATE student SET name=%s, age=%s where id=%s"
values = ("joe", 23, 1)
cursor.execute(sql, values)
db.commit()

In [14]:
#DELETE
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "DELETE FROM student"
cursor.execute(sql)
db.commit()

In [16]:
#DELETE the table
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="wsaa"
)
cursor=db.cursor()
sql = "DROP TABLE student"
cursor.execute(sql)
db.commit()